ul2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li2 a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li2 a.active {
    background-color: #4CAF50;
    color: white;
}

li2 a:hover:not(.active) {
    background-color: #555;
    color: white;
}

        h2 {
            color: rgb(21, 46, 173);
        }

        body {
            background-color: rgb(214, 70, 70);
            margin:0;
